@model Web_App_BioWell.Models.HealthData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HealthData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataBmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataBmi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DataId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
