@model IEnumerable<Web_App_BioWell.Models.HealthData>

@{
    ViewBag.Title = "Index";
}

<h2>Data</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Check Weight Progress", "GraphWeight") |
    @Html.ActionLink("Check BMI Progress", "GraphBMI") |
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataBmi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataBmi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DataId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DataId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DataId })
        </td>
    </tr>
}

</table>
